
{% extends 'base.html' %}
{% load static %}
{% block content %}
    

    {% include 'Website/banner.html' %}
    <!-- end banner -->

    <!-- {% include 'Website/about.html' %} -->
    <!-- end about -->

    <!-- {% include 'Website/special-menu.html' %} -->
    <!-- end special-menu -->

    <!-- {% include 'Website/menu.html' %} -->
    <!-- end menu -->

    <!-- {% include 'Website/our_team.html' %} -->
    <!-- end team-main -->

    <!-- {% include 'Website/gallery.html' %} -->
    <!-- end gallery-main -->

    <!-- {% include 'Website/blog.html' %} -->
    <!-- end blog-main -->

    <!-- {% include 'Website/pricing.html' %} -->
    <!-- end pricing-main -->

    {% include 'Website/reservation.html' %}
    <!-- end reservations-main -->

{% endblock content %}

